resources: "resources.yaml"
samples: "samples.tsv"
units: "units.tsv"

default_container: "docker://hydragenetics/common:3.1.1"

reference:
  fasta: ""
  fai: ""
  design_bed: ""

bcbio_variation_recall_ensemble:
  container: "docker://gmsuppsala/somatic:develop"
  callers:
    - vardict
    - gatk_mutect2
    - freebayes

clairs_to_call:
  container: "docker://hkubal/clairs-to:latest"
  platform: "ont_r10_guppy_sup_4khz"

deepmosaic_draw:
  container: "library://sanglee8888/deepmosaic/deepmosaic:sha256.28b3dd3b3ab1daa63b53d627c3fba3e6b4da38447ccdb9c7abc073718ff9453e"

deepmosaic_predict:
  container: "library://sanglee8888/deepmosaic/deepmosaic:sha256.28b3dd3b3ab1daa63b53d627c3fba3e6b4da38447ccdb9c7abc073718ff9453e"
  extra: ""
  model: "" # e.g. -m newly_trained_model_epoch_6.pt

deepsomatic_t_only:
  container: "docker://google/deepsomatic:1.8.0"
  extra: ""
  model: "WGS_TUMOR_ONLY" # WGS,WES,PACBIO,ONT,FFPE_WGS,FFPE_WES,WGS_TUMOR_ONLY,PACBIO_TUMOR_ONLY,ONT_TUMOR_ONLY
  pon: "--use_default_pon_filtering=true" # or --pon_filtering="pon.vcf" --process_somatic=true or ""
  
deepsomatic_tn:
  container: "docker://google/deepsomatic:1.8.0"
  extra: ""
  model: "WGS" # WGS,WES,PACBIO,ONT,FFPE_WGS,FFPE_WES,WGS_TUMOR_ONLY,PACBIO_TUMOR_ONLY,ONT_TUMOR_ONLY

deeptrio_call_variants:
  container: "docker://google/deepvariant:deeptrio-1.4.0"
  model:
    child: "/opt/models/deeptrio/wes/child/model.ckpt" 
    parent: "/opt/models/deeptrio/wes/parent/model.ckpt"

deeptrio_make_examples:
  container: "docker://google/deepvariant:deeptrio-1.4.0" 
  extra: "--channels insert_size --pileup_image_height_child 100 --pileup_image_height_parent 100 "
  n_shards: 2

deeptrio_postprocess_variants:
  container: "docker://google/deepvariant:deeptrio-1.4.0"

deepvariant:
  container: "docker://hydragenetics/deepvariant:1.4.0"
  model_type: "WGS"
  output_gvcf: true

freebayes:
  container: "docker://hydragenetics/freebayes:1.3.1"

haplotypecaller:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_filter:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_gvcf:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_merge_stats:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

merge_af_complex_variants:
  merge_method: "sum" 

mosaicforecast_phasing:
  container: "docker://yanmei/mosaicforecast_hg38:0.0.1"
  f_format: "" # cram/bam
  path: "" # path to bam-files
  umap: "/usr/local/bin/k24.umap.wg.bw"

mosaicforecast_readlevel:
  container: "docker://yanmei/mosaicforecast_hg38:0.0.1"
  f_format: "" # cram/bam
  path: "" # path to bam-files
  umap: "/usr/local/bin/k24.umap.wg.bw"

mosaicforecast_genotype_prediction:
  container: "docker://yanmei/mosaicforecast_hg38:0.0.1"
  model_trained: "" # 200xRFmodel_addRMSK_Refine.rds or deletions_250x.RF.rds(phase) or insertions_250x.RF.rds(phase)
  model_type: ""  # Phase/Refine

mutect2_pass_filter:
  pass_filters:
    - PASS
    - multiallelic

vardict:
  container: "docker://hydragenetics/vardict:1.8.3"

vt_decompose:
  container: "docker://hydragenetics/vt:2015.11.10"

vt_normalize:
  container: "docker://hydragenetics/vt:2015.11.10"
