resources: "resources.yaml"
samples: "samples.tsv"
units: "units.tsv"

default_container: "docker://hydragenetics/common:3.1.1"

reference:
  fasta: "reference/HES45.fna"
  fai: "reference/HES45.fna.fai"
  design_bed: "reference/twist_DNA_solid.HES45.annotated.bed"

deeptrio_call_variants:
  container: "docker://google/deepvariant:deeptrio-1.5.0"
  model:
    child: "/opt/models/deeptrio/wes/child/model.ckpt" 
    parent: "/opt/models/deeptrio/wes/parent/model.ckpt"

deeptrio_make_examples:
  container: "docker://google/deepvariant:deeptrio-1.5.0" 
  extra: "--channels insert_size --pileup_image_height_child 100 --pileup_image_height_parent 100 "
  n_shards: 2

deeptrio_postprocess_variants:
  container: "docker://google/deepvariant:deeptrio-1.5.0"

deepvariant:
  container: "docker://hydragenetics/deepvariant:1.4.0"
  model_type: "WES"
  output_gvcf: True

glnexus:
  container: "docker://hydragenetics/glnexus:1.4.1"
  configfile: "DeepVariantWES"