resources: "resources.yaml"
samples: "samples.tsv"
units: "units.tsv"

default_container: "docker://hydragenetics/common:0.2.0"

reference:
  fasta: "reference/HES45.fna"
  fai: "reference/HES45.fna.fai"
  design_bed: "reference/twist_DNA_solid.HES45.annotated.bed"

bcbio_variation_recall_ensemble:
  container: "docker://gmsuppsala/somatic:develop"
  callers:
    - vardict
    - gatk_mutect2
    - freebayes

deepsomatic:
  container: "docker://google/deepsomatic:1.8.0"
  extra: ""
  model: "WGS_TUMOR_ONLY" # WGS,WES,PACBIO,ONT,FFPE_WGS,FFPE_WES,WGS_TUMOR_ONLY,PACBIO_TUMOR_ONLY,ONT_TUMOR_ONLY

glnexus:
  container: "docker://hydragenetics/glnexus:1.4.1"
  configfile: "DeepVariantWES"

freebayes:
  container: "docker://hydragenetics/freebayes:1.3.1"

haplotypecaller:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_filter:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_gvcf:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

gatk_mutect2_merge_stats:
  container: "docker://hydragenetics/gatk4:4.1.9.0"

glnexus:
  container: "docker://hydragenetics/glnexus:1.4.1"
  configfile: "DeepVariantWES"

mutect2_pass_filter:
  pass_filters:
    - PASS
    - multiallelic

vardict:
  container: "docker://hydragenetics/vardict:1.8.3"
  bed_columns: "-c 1 -S 2 -E 3"

vt_decompose:
  container: "docker://hydragenetics/vt:2015.11.10"

vt_normalize:
  container: "docker://hydragenetics/vt:2015.11.10"
