resources: "resources.yaml"
samples: "samples_pacbio.tsv"
units: "units_pacbio.tsv"

default_container: "docker://hydragenetics/common:3.0.0"

reference:
  fasta: "reference/human_GRCh38.fasta"
  fai: "reference/human_GRCh38.fasta.fai"

deepvariant:
  container: "docker://google/deepvariant:1.6.1"
  model_type: "PACBIO"
  output_gvcf: true

hiphase:
  container: "docker://hydragenetics/hiphase:1.4.5"
  sv_caller: false
  str_caller: true
